* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
.barra{
    position: fixed;
    background: #666;
    padding: 30px 30px;
    top: 0;
    left: 0;
    width: 100%;
}
nav{

position: absolute;
right: 0;
top: 0;

}
nav li {
  display: inline-block;
  margin: 0px 10px;
}
nav li a{
  color: white;
  text-decoration: none;
  text-align: center;
}

nav ul li i{
  font-size: 200%;
  text-align: justify;
}
h1{
  font-family: 'Roboto', sans-serif;
}
h5{
  font-family: 'Nunito', sans-serif;
}
body{
  margin-top: 100px;
}
p {
  font-family: 'Nunito', sans-serif;
}

.conteiner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.descripcion{
  text-align: center;
  margin: 30px 10px;
  padding: 10px 0px;
}

ul li {
  list-style: none;
  font-family: 'Nunito', sans-serif;
}
.entradaservicio{
  text-align: center;
  animation-name: righAnim;
  animation-duration: 2s;
}
.service{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 6px 0px;
  padding: 20px 0;
  width: 100%;
  background: rgba(98, 247, 199, 0.31);
}

.column{
  text-align: left;
  padding: 10px 0;
}
@keyframes righAnim {
  from{
    transform: translateX(-10);
  }

  to{
    transform: translateX(0);
  }
}
